
/* body{
  display: flex;
  height:100%;
  border: 10px solid magenta;
}
.Container{
  display: flex;
  justify-content: center;
  border: 10px solid red;
  align-content: stretch;
  flex-direction: column;
  width: max-content;
  }
  .PlayerCard{
    flex-grow: 2;
    flex-direction: column;
    border: 10px solid black;
    height: 50% ;
  }
  .PlayerInfo{
    flex-direction: column;
    justify-content: center;
    border: 10px solid orange;
    height:25%
  } */